TGSEARCH_PHONE
TAVILY_API_KEY
TZ
ZERO_CONFIG_PATH
ZERO_SECRET_FILE
ZERO_PANEL_HOST
ZERO_PANEL_PORT
ZERO_PROACTIVE_SCHEDULER_INTERVAL_SECONDS
ZERO_PROACTIVE_SCHEDULER_BATCH_SIZE
ZERO_PROACTIVE_FOLLOWUP_ENABLED
ZERO_PROACTIVE_FOLLOWUP_CREATE_ENABLED
ZERO_PROACTIVE_FOLLOWUP_SEND_ENABLED
ZERO_PROACTIVE_ADMIN_DISABLED
ZERO_PROACTIVE_ALLOW_WILDCARD
ZERO_PROACTIVE_ALLOWED_CHAT_IDS
ZERO_PROACTIVE_ALLOWED_USER_IDS
ZERO_PROACTIVE_CANARY_PERCENT
ZERO_PROACTIVE_ALLOWED_HOUR_START
ZERO_PROACTIVE_ALLOWED_HOUR_END
ZERO_PROACTIVE_FALLBACK_TIMEZONE
ZERO_GROUP_DOCUMENT_BUNDLING_ENABLED
ZERO_HYBRID_GROUP_CONTEXT_ENABLED
ZERO_MEMORY_V2_DB
ZERO_MEMORY_V2_ENABLED
ZERO_MEMORY_V2_SHADOW
ZERO_MEMORY_V2_READ_ENABLED
ZERO_MEMORY_V2_WRITE_ENABLED
ZERO_MEMORY_V2_MAX_ITEMS
ZERO_MEMORY_V2_MAX_TOKENS
ZERO_MEMORY_V2_MIN_RELEVANCE
ZERO_MEMORY_V3_DB
ZERO_MEMORY_V3_ENABLED
ZERO_MEMORY_V3_SHADOW
ZERO_MEMORY_V3_READ_ENABLED
ZERO_MEMORY_V3_WRITE_ENABLED
ZERO_MEMORY_V3_MAX_ITEMS
ZERO_MEMORY_V3_MAX_TOKENS
ZERO_OFFICE_ENABLED
ZERO_OFFICE_WORKSPACE_ROOT
ZERO_OFFICE_CLI_PATH
ZERO_OFFICE_VISUAL_REVIEW_ENABLED
ZERO_OFFICE_PENDING_ATTACHMENT_TTL_MINUTES
ZERO_OFFICE_LEASE_SECONDS
ZERO_OFFICE_MAX_ATTEMPTS
ZERO_OFFICE_ADMIN_IDS
ZERO_OFFICE_UNLIMITED_ADMIN_IDS
ZERO_OFFICE_ROLLOUT_REQUIRED
ZERO_OFFICE_ROLLOUT_USER_IDS
ZERO_OFFICE_ROLLOUT_CHAT_IDS
ZERO_OFFICE_USER_JOBS_PER_DAY
ZERO_OFFICE_USER_MAX_CHARACTERS
ZERO_OFFICE_TIMEZONE
ZERO_OFFICE_REFUND_ON_INTERNAL_FAILURE
ZERO_OFFICE_ADMIN_JOBS_PER_DAY
ZERO_OFFICE_ADMIN_MAX_CHARACTERS
ZERO_OFFICE_MAX_INPUT_FILES_PER_JOB
ZERO_OFFICE_MAX_FILE_SIZE_MB
ZERO_OFFICE_MAX_UNCOMPRESSED_MB
ZERO_OFFICE_MAX_RUNTIME_SECONDS
ZERO_OFFICE_MAX_REPAIR_ATTEMPTS
ZERO_OFFICE_MAX_SLIDES
ZERO_OFFICE_MAX_SHEETS
ZERO_OFFICE_MAX_NONEMPTY_CELLS
ZERO_OFFICE_MAX_ROWS_PER_SHEET
ZERO_OFFICE_MAX_COLUMNS_PER_SHEET
ZERO_OFFICE_MAX_FORMULAS
ZERO_OFFICE_MAX_EMBEDDED_IMAGES
ZERO_OFFICE_MAX_ZIP_ENTRIES
ZERO_OFFICE_MAX_COMPRESSION_RATIO
ZERO_OFFICE_MAX_XML_ENTRY_MB
ZERO_OFFICE_MAX_MEMORY_MB
ZERO_OFFICE_MAX_OUTPUT_SIZE_MB
ZERO_OFFICE_MAX_CPU_SECONDS
ZERO_OFFICE_MAX_PROCESSES
ZERO_OFFICE_GLOBAL_CONCURRENCY
ZERO_OFFICE_PER_USER_CONCURRENCY
ZERO_OFFICE_COMPLETED_RETENTION_HOURS
ZERO_OFFICE_FAILED_RETENTION_HOURS
